body {
  width: 100%;
  margin: auto;
  color: #1d1d39;
  font-family: Museo-Sans-Cyrl, Arial, Helvetica, sans-serif;
  width: 1200px;
}
.all-title {
  font-weight: 200;
  line-height: 1.35em;
}

.main-container {
  margin: auto;
}
