@import url("./main.css");
@import url("./header.css");
@import url("./tryfree-block.css");
@import url("./rk-block.css");
@import url("./services-block.css");
@import url("./tools-block.css");
@import url("./doptools-block.css");
@import url("./supportcontact-block.css");
@import url("./partners-block.css");
@import url("./clients-block.css");
@import url("./email-block.css");
@import url("./bottommap-block.css");
@import url("./footer.css");
@font-face {
  font-family: "Museo-Sans-Cyrl";
  src: local("Museo Sans Cyrl 500"), local("MuseoSansCyrl-500"),
    url("/fonts/Museosanscyrl500.woff2") format("woff2"),
    url("/fonts/Museosanscyrl500.woff") format("woff"),
    url("/fonts/Museosanscyrl500.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
