<div>
  <div class="bottommap-container container">
    <div class="bottommap-col">
      <h3 class="bottommap-title">
        Продукты и услуги
      </h3>
      <ul class="bottommap-list">
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/services/">
            Услуги агентства
          </a>
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://elama.ru/services/brief-create/"
          >
            Помощь на старте
          </a>
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/pricing/">
            Тарифы
          </a>
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/partners/">
            Агентствам и фрилансерам
          </a>
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://tender.elama.ru/">
            Тендерная площадка
          </a>
        </li>
      </ul>
    </div>
    <div class="bottommap-col">
      <h3 class="bottommap-title">
        Инструменты
      </h3>
      <ul class="bottommap-list">
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://pl.elama.ru/reportsBI">
            Отчеты BI
          </a>
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://pl.elama.ru/lingvogenerator"
          >
            Лингвогенератор
          </a>
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://pl.elama.ru/lead_ads">
            Импорт лидов из соцсетей
          </a>
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://pl.elama.ru/bidmanager">
            Бид-менеджер
          </a>
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://pl.elama.ru/advisor">
            Автоматические рекомендации
          </a>
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/tools/">
            Все инструменты
          </a>
        </li>
      </ul>
    </div>
    <div class="bottommap-col bottommap-col16">
      <h3 class="bottommap-title">
        Обучение
      </h3>
      <ul class="bottommap-list">
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/webinar/">
            Вебинары
          </a>
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://study.elama.ru/">
            Курсы
          </a>
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/blog/">
            Блог
          </a>
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://help.elama.global/hc/ru">
            Помощь
          </a>
        </li>
      </ul>
    </div>
    <div class="bottommap-col">
      <h3 class="bottommap-title">
        О нас
      </h3>
      <ul class="bottommap-list">
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/about/team/">
            Карьера в eLama
          </a>
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/contacts/">
            Контакты
          </a>
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://elama.ru/partners/promo/"
          >
            Предложения партнеров
          </a>
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://elama.ru/partner-events/"
          >
            Мероприятия наших партнеров
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
