<div class="bottommap-block">
  <div class="bottommap-container">
    <div class="bottommap-products">
      <h3 class="bottommap-title">Продукты и услуги</h3>
      <ul class="bottommap-list">
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/services/"
            >Услуги агентства</a
          >
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://elama.ru/services/brief-create/?from=menu_promo"
            >Помощь на старте</a
          >
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/pricing/"
            >Тарифы</a
          >
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/partners/"
            >Агентствам и фрилансерам</a
          >
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://tender.elama.ru/?_ga=2.209892629.1491740013.1580111276-60098491.1579071119&_gac=1.3854212.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE"
            >Тендерная площадка</a
          >
        </li>
      </ul>
    </div>
    <div class="bottommap-tools">
      <h3 class="bottommap-title">Инструменты</h3>
      <ul class="bottommap-list">
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://pl.elama.ru/reportsBI?from=menu&_ga=2.152132921.1491740013.1580111276-60098491.1579071119&_gac=1.204279204.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE"
            >Отчеты BI</a
          >
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://pl.elama.ru/lingvogenerator?from=menu&_ga=2.177444517.1491740013.1580111276-60098491.1579071119&_gac=1.217853218.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE"
            >Лингвогенератор</a
          >
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://pl.elama.ru/lead_ads?from=menu&_ga=2.177444517.1491740013.1580111276-60098491.1579071119&_gac=1.217853218.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE"
            >Импорт лидов из соцсетей</a
          >
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://pl.elama.ru/bidmanager?from=menu&_ga=2.219789849.1491740013.1580111276-60098491.1579071119&_gac=1.216842658.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE"
            >Бид-менеджер</a
          >
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://pl.elama.ru/advisor?from=menu&_ga=2.219789849.1491740013.1580111276-60098491.1579071119&_gac=1.216842658.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE"
            >Автоматические рекомендации</a
          >
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://elama.ru/tools/?utm_expid=.wRPQPv9oTvujvfJ57rvT2Q.0&utm_referrer=https%3A%2F%2Felama.ru%2F%3F_ga%3D2.140087603.1491740013.1580111276-60098491.1579071119%26_gac%3D1.216122786.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE"
            >Все инструменты</a
          >
        </li>
      </ul>
    </div>
    <div class="bottommap-education">
      <h3 class="bottommap-title">Обучение</h3>
      <ul class="bottommap-list">
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/webinar/"
            >Вебинары</a
          >
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://study.elama.ru/?_ga=2.222516635.1491740013.1580111276-60098491.1579071119&_gac=1.12191616.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE"
            >Курсы</a
          >
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/blog/">Блог</a>
        </li>
        <li class="bottommap-list-point">
          <a
            class="bottommap-list-link"
            href="https://help.elama.global/hc/ru?_ga=2.222516635.1491740013.1580111276-60098491.1579071119&_gac=1.12191616.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE"
            >Помощь</a
          >
        </li>
      </ul>
    </div>
    <div class="bottommap-aboutus">
      <h3 class="bottommap-title">О нас</h3>
      <ul class="bottommap-list">
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/about/team/"
            >Карьера в eLama</a
          >
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/contacts/"
            >Контакты</a
          >
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/partners/promo/"
            >Предложения партнеров</a
          >
        </li>
        <li class="bottommap-list-point">
          <a class="bottommap-list-link" href="https://elama.ru/partner-events/"
            >Мероприятия наших партнеров</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
