<div class="clients-block container">
  <div class="clients-text">
    <h1 class="all-title">
      Вы в хорошей компании
    </h1>
  </div>
  <div class="clients-list">
    <ul class="clients-table">
      <li class="clients-list-point">
        <img src="/images/ozon.png" alt="ozon" />
      </li>
      <li class="clients-list-point">
        <img src="/images/rb.png" alt="rb" />
      </li>
      <li class="clients-list-point">
        <img src="/images/durex.png" alt="durex" />
      </li>
      <li class="clients-list-point">
        <img src="/images/strepsils.png" alt="strepsils" />
      </li>
      <li class="clients-list-point">
        <img src="/images/redmond.png" alt="redmond" />
      </li>
      <li class="clients-list-point">
        <img src="/images/veet.png" alt="veet" />
      </li>
    </ul>
  </div>
</div>
