<div class="doptools-block container">
  <div class="doptools-text">
    <h1 class="doptools-title all-title">
      Сохраняем прямые доступы к рекламным системам
    </h1>
    <p class="doptools-paragraph">
      Для подключения дополнительных инструментов, просмотра статистики,
      наблюдения за расходами и управления рекламой как из интерфейса eLama, так
      и напрямую при помощи рекламных систем или других сервисов.
    </p>
  </div>
  <div class="doptools-img">
    <img src="/images/work-scheme.png" alt="scheme" />
  </div>
</div>
