<div class="email-block">
  <div class="container">
    <div class="email-top">
      <h2 class="email-title all-title">
        Ежедневно нам доверяют свою рекламу 130 928 клиентов
      </h2>
    </div>
    <div class="email-bottom">
      <div class="email-field">
        <label class="email-field-text"
          ><input type="email" class="email-field-input" />
          <p class="email-field-input-text">
            Email
          </p>
        </label>
      </div>
      <div>
        <a class="tryfree-button" href="https://account.elama.global/signup">
          Попробовать бесплатно
        </a>
      </div>
    </div>
  </div>
</div>
