<div class="email-block container">
  <div class="email-top">
    <h2 class="email-title all-title">
      Ежедневно нам доверяют свою рекламу 130 928 клиентов
    </h2>
  </div>
  <div class="email-bottom">
    <div class="email-field">
      <label class="email-field-text"
        ><input type="email" class="email-field-input" />
        <p class="email-field-input-text">Email</p>
      </label>
    </div>
    <div class="email-button">
      <a
        class="email-signup"
        href="https://account.elama.global/signup?email=dgsgsdg%40test.elama.ru&formId=main_bottom_free_trial&_ga=2.189488427.1491740013.1580111276-60098491.1579071119&_gac=1.41208470.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE&X-Alt-Auth-Refresh=1&sourceUrl=https%3A%2F%2Felama.ru%2F%3F_ga%3D2.140087603.1491740013.1580111276-60098491.1579071119%26_gac%3D1.216122786.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE%26formId%3Dmain_bottom_free_trial%26_ga%3D2.189488427.1491740013.1580111276-60098491.1579071119%26X-Alt-Auth-Refresh%3D1&backUrl=https%3A%2F%2Felama.ru%2Felama_oauth%2Finit&country=rus&lang=ru"
        >Попробовать бесплатно</a
      >
    </div>
  </div>
</div>
