<div class="footer-container container">
  <div class="footer-top">
    <ul class="footer-top-list">
      <li class="footer-top-list-point">
        <a href="https://vk.com/elama">
          ВКонтакте
        </a>
      </li>
      <li class="footer-top-list-point">
        <a href="https://www.facebook.com/allcontext/">
          Facebook
        </a>
      </li>
      <li class="footer-top-list-point">
        <a href="https://twitter.com/elama__ru">
          Twitter
        </a>
      </li>
      <li class="footer-top-list-point">
        <a href="https://t.me/eLama_russia">
          Telegram
        </a>
      </li>
      <li class="footer-top-list-point">
        <a href="https://www.youtube.com/channel/UCWFX2t6rtMyHvzB9eHNh_qg">
          YouTube
        </a>
      </li>
      <li class="footer-top-list-point">
        <a href="https://elama.ru/feed/">
          RSS
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-left">
      <div class="footer-bottom-logo">
        <img src="/images/elamaminilogo.svg" alt="minilogo" />
      </div>
      <div class="footer-bottom-contacts">
        <ul class="footer-bottom-contacts-list">
          <li class="footer-bottom-contacts-point">
            <a class="footer-bottom-contacts-number" href="tel:84992702790">
              8 (499) 270‒27‒90
            </a>
            <p class="footer-bottom-contacts-city">
              Москва
            </p>
          </li>
          <li class="footer-bottom-contacts-point">
            <a class="footer-bottom-contacts-number" href="tel:88123184054">
              8 (812) 318‒40‒54
            </a>
            <p class="footer-bottom-contacts-city">
              Санкт-Петербург
            </p>
          </li>
          <li class="footer-bottom-contacts-point">
            <a class="footer-bottom-contacts-number" href="tel:88005003190">
              8 (800) 500‒31‒90
            </a>
            <p class="footer-bottom-contacts-city">
              Звонки по России
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom-copyright">
      <div class="footer-bottom-copyright-top">
        <div class="footer-bottom-copyright-logo">
          <img src="/images/iconglobal.svg" alt="global" />
        </div>
        <button class="footer-bottom-copyright-button">
          Russia (Рус)
          <img class="header-arrow" src="/images/arrow.svg" />
        </button>

        <ul class="footer-menu-podmenu">
          <li class="footer-podmenu-points">
            <a href="https://elama.global/">
              Worldwide (Eng)
            </a>
          </li>
          <li class="footer-podmenu-points">
            <a href="https://elama.com.br/">
              Brasil (Por)
            </a>
          </li>
          <li class="footer-podmenu-points">
            <a href="https://elama.ru/">
              Russia (Рус)
            </a>
          </li>
          <li class="footer-podmenu-points">
            <a href="https://elama.kz/">
              Kazakhstan (Рус)
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom-copyright-bottom">
        <p class="footer-bottom-copyright-year">
          © 2008—2020 elama.ru
        </p>
      </div>
    </div>
  </div>
</div>
