<div class="header">
  <div class="container header-container">
    <div class="header-logo">
      <img src="/images/elamalogo.svg" alt="logo" />
    </div>
    <div class="header-navmenu">
      <nav>
        <ul class="header-navmenu-list">
          <li class="header-navmenu-points">
            <button class="header-menu-buttons">
              Инструменты
              <img class="header-arrow" src="/images/arrow.svg" />
            </button>
            <ul class="header-menu-podmenu">
              <li class="header-podmenu-points">
                <a href="https://pl.elama.ru/reportsBI?from=menu">
                  Отчеты BI
                </a>
              </li>
              <li class="header-podmenu-points">
                <a href="https://pl.elama.ru/lingvogenerator?from=menu">
                  Лингвогенератор
                </a>
              </li>
              <li class="header-podmenu-points">
                <a href="https://pl.elama.ru/lead_ads?from=menu">
                  Импорт лидов из соцсетей
                </a>
              </li>
              <li class="header-podmenu-points">
                <a href="https://pl.elama.ru/bidmanager?from=menu">
                  Бид-менеджер
                </a>
              </li>
              <li class="header-podmenu-points">
                <a href="https://pl.elama.ru/advisor?from=menu">
                  Автоматические рекомендации
                </a>
              </li>
              <li class="header-podmenu-points">
                <a href="https://elama.ru/tools/">
                  Все инструменты
                </a>
              </li>
            </ul>
          </li>
          <li class="header-navmenu-points">
            <button class="header-menu-buttons">
              Услуги
              <img class="header-arrow" src="/images/arrow.svg" />
            </button>
            <ul class="header-menu-podmenu">
              <li class="header-podmenu-points">
                <a href="https://elama.ru/services/">
                  Услуги агентства
                </a>
              </li>
              <li class="header-podmenu-points">
                <a
                  href="https://elama.ru/services/brief-create/?from=menu_promo"
                >
                  Помощь на старте
                </a>
              </li>
            </ul>
          </li>
          <li class="header-navmenu-points">
            <button class="header-menu-buttons">
              <a href="https://elama.ru/pricing/">
                Тарифы
              </a>
            </button>
          </li>
          <li class="header-navmenu-points">
            <button class="header-menu-buttons">
              <a href="https://elama.ru/partners/">
                Агентствам и фрилансерам
              </a>
            </button>
          </li>
          <li class="header-navmenu-points">
            <button class=" header-menu-buttons">
              Обучение
              <img class="header-arrow" src="/images/arrow.svg" />
            </button>
            <ul class="header-menu-podmenu">
              <li class="header-podmenu-points">
                <a href="https://elama.ru/webinar/">
                  Вебинары
                </a>
              </li>
              <li class="header-podmenu-points">
                <a href="https://study.elama.ru/">
                  Курсы
                </a>
              </li>
              <li class="header-podmenu-points">
                <a href="https://elama.ru/blog/">
                  Блог
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-buttons-sign">
      <button class="header-menu-buttons">
        <a
          class="header-signin-button"
          href="https://account.elama.global/signin"
        >
          Вход
        </a>
      </button>
      <a
        class="header-signup-button"
        href="https://account.elama.global/signup"
      >
        Регистрация
      </a>
    </div>
  </div>
</div>
