<div class="partners-block">
  <div class="partners-container container">
    <div class="partners-text">
      <h1 class="partners-title all-title">
        Мы сертифицированные партнеры рекламных систем
      </h1>
    </div>
    <div class="partners-img-block">
      <div class="partners-certif-block">
        <div class="partners-img-top">
          <img src="/images/ya-certificate.jpg" alt="certificate-yandex" />
        </div>
        <div class="partners-img-bottom">
          <img src="/images/g-certificate.png" alt="certificate-google" />
          <img src="/images/vk-certificate.png" alt="certificate-vk" />
        </div>
      </div>
    </div>
  </div>
</div>
