<div class="rk-block">
  <div class="rk-container container">
    <div class="rk-text">
      Заключите один договор с eLama. Оплачивайте рекламу во всех системах и
      сервисах</br>и получайте единый комплект закрывающих документов.
    </div>
    <div class="rk-logos">
      <div class="rk-logos-block1">
        <img class="rk-logos-points" src="/images/yandex.png" alt="yandex" />
        <img class="rk-logos-points" src="/images/google.png" alt="google" />
        <img
          class="rk-logos-points"
          src="/images/facebook.png"
          alt="facebook"
        />
        <img class="rk-logos-points" src="/images/vk.png" alt="vkontakte" />
        <img
          class="rk-logos-points"
          src="/images/instagram.png"
          alt="instagram"
        />
        <img
          class="rk-logos-points"
          src="/images/mytarget.png"
          alt="mytarget"
        />
      </div>
      <div class="rk-logos-block2">
        <img
          class="rk-logos-points"
          src="/images/calltouch.png"
          alt="calltouch"
        />
        <img class="rk-logos-points" src="/images/yagla.png" alt="yagla" />
        <img
          class="rk-logos-points"
          src="/images/oneretarget.png"
          alt="oneretarget"
        />
        <img
          class="rk-logos-points"
          src="/images/calltracking.png"
          alt="calltracking"
        />
      </div>
    </div>
  </div>
</div>
