<div class="rk-block">
  <div class="rk-text">
    Заключите один договор с eLama. Оплачивайте рекламу во всех системах и
    сервисах и получайте единый комплект закрывающих документов.
  </div>
  <div class="rk-logos">
    <div class="rk-logos-block1">
      <img src="/images/yandex.png" alt="yandex" />
      <img src="/images/google.png" alt="google" />
      <img src="/images/facebook.png" alt="facebook" />
      <img src="/images/vk.png" alt="vkontakte" />
      <img src="/images/instagram.png" alt="instagram" />
      <img src="/images/mytarget.png" alt="mytarget" />
    </div>
    <div class="rk-logos-block2">
      <img src="/images/calltouch.png" alt="calltouch" />
      <img src="/images/yagla.png" alt="yagla" />
      <img src="/images/oneretarget.png" alt="oneretarget" />
      <img src="/images/calltracking.png" alt="calltracking" />
    </div>
  </div>
</div>
