<div class="services-block container">
  <div class="services-title">
    <h1 class="all-title ">
      Как можно работать в eLama:
    </h1>
  </div>
  <div class="services-list">
    <a class="services-list-box" href="https://elama.ru/tools/">
      <div class="services-list-logo">
        <img src="/images/ecology.svg" alt="hand" />
      </div>
      <div class="services-list-title">
        Управлять своей рекламой
      </div>
      <div class="services-list-description">
        Используйте наши инструменты на каждом этапе работы, от создания и
        настройки кампаний до получения отчетов
      </div>
      <div class="services-list-button">
        <div class="services-list-arrow"><img src="/images/arrow-right.png" alt="arrow"></div>
        Инструменты
      </div>
    </a>

    <a class="services-list-box" href="https://elama.ru/services/">
      <div class="services-list-logo">
        <img src="/images/money.svg" alt="coin" />
      </div>
      <div class="services-list-title">
        Заказать рекламу</br>в агентстве eLama
      </div>
      <div class="services-list-description">
        Передайте нам создание, настройку и анализ результатов контекстной и
        таргетированной рекламы
      </div>
      <div class="services-list-button"><div class="services-list-arrow"><img src="/images/arrow-right.png" alt="arrow"></div>
        Услуги агентства
      </div>
    </a>

    <a class="services-list-box" href="https://elama.ru/partners/">
      <div class="services-list-logo">
        <img src="/images/deal.svg" alt="deal" />
      </div>
      <div class="services-list-title">
        Вести рекламу своих</br>клиентов
      </div>
      <div class="services-list-description">
        Объедините всех клиентов в одном кабинете, автоматизируйте процессы и
        каждый месяц получайте агентское вознаграждение
      </div>
      <div class="services-list-button">
        <div class="services-list-arrow"><img src="/images/arrow-right.png" alt="arrow"></div>Агентствам и фрилансерам
      </div>
    </a>

    <a class="services-list-box" href="https://elama.ru/services/brief-create/">
      <div class="services-list-logo">
        <img src="/images/rocket.svg" alt="rocket" />
      </div>
      <div class="services-list-title">
        Получить кампании</br>для старта бесплатно
      </div>
      <div class="services-list-description">
        Заполните бриф, и мы создадим для вас кампании для поиска и рекламной
        сети Яндекса
      </div>
      <div class="services-list-button">
        <div class="services-list-arrow"><img src="/images/arrow-right.png" alt="arrow"></div>Заполнить бриф
      </div>
    </a>
  </div>
</div>
