<div class="supportcontact-block">
  <div class="support-block container">
    <div class="supportcontact-text">
      <h1 class="supportcontact-title all-title">
        Служба Заботы ежедневно на связи
      </h1>
      <p class="supportcontact-text-paragraph">
        Все сотрудники обладают сертификатами рекламных систем и могут
        проконсультировать вас по вопросам и инструментам во всех системах.
      </p>
    </div>
    <div class="supportcontact-number">
      <ul class="supportcontact-number-table">
        <li class="supportcontact-number-table-point">
          <a class="supportcontact-number-table-number" href="tel:84992702790">
            8 (499) 270‒27‒90
          </a>
          <p class="supportcontact-number-table-city">
            Москва
          </p>
        </li>
        <li class="supportcontact-number-table-point">
          <a class="supportcontact-number-table-number" href="tel:88123184054">
            8 (812) 318‒40‒54
          </a>
          <p class="supportcontact-number-table-city">
            Санкт-Петербург
          </p>
        </li>
        <li class="supportcontact-number-table-point">
          <a class="supportcontact-number-table-number" href="tel:88005003190">
            8 (800) 500‒31‒90
          </a>
          <p class="supportcontact-number-table-city">
            Звонки по России
          </p>
        </li>
      </ul>
      <div class="supportcontact-button">
        <a href="https://elama.ru/contacts/">
          Контакты
        </a>
      </div>
    </div>
    <div class="supportcontact-img">
      <div class="supportcontact-photo">
        <img src="/images/bogdanova.png" alt="bogdanova" />
      </div>
      <div class="supportcontact-info">
        <p class="supportcontact-name">
          Анастасия Богданова
        </p>
        <p class="supportcontact-position">
          Руководитель Службы Заботы
        </p>
      </div>
    </div>
  </div>
</div>
