<div class="supportcontact-block">
  <div class="supportcontact-text">
    <h1>Служба Заботы ежедневно на связи</h1>
    <p>
      Все сотрудники обладают сертификатами рекламных систем и могут
      проконсультировать вас по вопросам и инструментам во всех системах.
    </p>
  </div>
  <div class="supportcontact-number">
    <ul class="supportcontact-number-table">
      <li>
        <a>8 (499) 270‒27‒90</a>
        <p>Москва</p>
      </li>
      <li>
        <a>8 (812) 318‒40‒54</a>
        <p>Санкт-Петербург</p>
      </li>
      <li>
        <a>8 (800) 500‒31‒90</a>
        <p>Звонки по России</p>
      </li>
    </ul>
    <a class="supportcontact-button" href="https://elama.ru/contacts/"
      >Контакты</a
    >
  </div>
  <div class="supportcontact-img">
    <div class="supportcontact-photo">
      <img src="/images/bogdanova.png" alt="bogdanova" />
    </div>
    <div class="supportcontact-info">
      <p class="supportcontact-name">Анастасия Богданова</p>
      <p class="supportcontact-position">Руководитель Службы Заботы</p>
    </div>
  </div>
</div>
