<div class="tools-block">
  <div class="container">
    <div class="tools-title-block">
      <div class="tools-title ">
        <h1 class="all-title">
          Инструменты для всех этапов работы
        </h1>
      </div>
      <div class="tools-button">
        <a href="https://elama.ru/tools/">
          Все инструменты
        </a>
      </div>
    </div>
    <div class="tools-table">
      <div class="tools-box">
        <div class="tools-logo">
          <img src="/images/hot-air-balloon.svg" alt="air-baloon" />
        </div>
        <div class="tools-description">
          Запускайте новые кампании или копируйте существующие.
        </div>
      </div>
      <div class="tools-box">
        <div class="tools-logo">
          <img src="/images/auction.svg" alt="auction" />
        </div>
        <div class="tools-description">
          Автоматизируйте работу со ставками с помощью бид-менеджера. Он
          обеспечит максимальный объем трафика за ту цену, которую вы готовы
          заплатить.
        </div>
      </div>
      <div class="tools-box">
        <div class="tools-logo">
          <img src="/images/calculator.svg" alt="calculator" />
        </div>
        <div class="tools-description">
          Калькулятор искренней ставки рассчитает выгодную цену за клик на
          основе ваших</br>бизнес-показателей.
        </div>
        <div class="tools-link">
          <a href="https://elama.ru/tools/smart-bid/">
            Рассчитать цену
          </a>
        </div>
      </div>
      <div class="tools-box">
        <div class="tools-logo">
          <img src="/images/recommended.svg" alt="recommended" />
        </div>
        <div class="tools-description">
          Улучшайте рекламу благодаря рекомендациям</br>eLama. Советы основаны на
          опыте 23 000 наших</br>клиентов.
        </div>
      </div>
      <div class="tools-box">
        <div class="tools-logo">
          <img src="/images/discount.svg" alt="discount" />
        </div>
        <div class="tools-description">
          Добавляйте UTM-метки ко всем кампаниям</br>за несколько минут.
        </div>
      </div>
      <div class="tools-box">
        <div class="tools-logo">
          <img src="/images/report.svg" alt="report" />
        </div>
        <div class="tools-description">
          Визуализируйте результат, используя готовые шаблоны для Power BI. Это
          позволит сразу заметить проблемные места в вашей рекламе.
        </div>
      </div>
    </div>
  </div>
</div>
