<div class="tryfree-block">
  <div class="tryfree-text">
    <h1 class="tryfree-title all-title">
      Единая платформа </br>для эффективного управления рекламой
    </h1>
    <p class="tryfree-paragraph">
      Упрощаем запуск кампаний и работу с рекламой, помогаем получить
      максимальный результат
    </p>
    <a
      href="https://account.elama.global/signup?formId=main_free_trial&_ga=2.185315881.1491740013.1580111276-60098491.1579071119&_gac=1.182595218.1580111276.EAIaIQobChMI9-fAmKWj5wIVB4uyCh2D9wTDEAAYAyAAEgLSp_D_BwE&X-Alt-Auth-Refresh=1&sourceUrl=https%3A%2F%2Felama.ru%2F%3FformId%3Dmain_free_trial%26_ga%3D2.185315881.1491740013.1580111276-60098491.1579071119%26X-Alt-Auth-Refresh%3D1&backUrl=https%3A%2F%2Felama.ru%2Felama_oauth%2Finit&country=rus&lang=ru"
      class="tryfree-button"
      >Попробовать бесплатно</a
    >
  </div>
  <div class="tryfree-img">
    <img src="/images/notebook.png" alt="notebook" />
  </div>
  
</div>
