<div class="tryfree-block">
  <div class="tryfree-container container">
  <div class="tryfree-text">
    <h1 class="tryfree-title all-title">
      Единая платформа </br>для эффективного управления рекламой
    </h1>
    <p class="tryfree-paragraph">
      Упрощаем запуск кампаний и работу с рекламой, </br>помогаем получить
      максимальный результат
    </p>
    <a href="https://account.elama.global/signup" class="tryfree-button">
      Попробовать бесплатно
      </a>
  </div>
  <div class="tryfree-img">
    <img src="/images/notebook.png" alt="notebook"/>
  </div>
</div>
</div>
